In [2]:
import pandas as pd
from IPython.display import display

In [3]:
def get_heckman_catalog(heckman_loc):
    df = pd.read_table(heckman_loc, sep=r"\s*")
    old_columns = df.columns.values
    new_columns = map(lambda x: x.lower().strip('#'), old_columns)
    df = df.rename(columns=dict(zip(old_columns, new_columns)))
    df = df.rename(
        columns={'main_samp': 'main_sample'})
    assert df[(df['herg']==1) & (df['lerg']==1)].empty
    return df

In [8]:
heckman_loc = 'sdss_dr7_radiosources.cat'
df = get_heckman_catalog(heckman_loc)
display(df.head())
# display(df.describe())

/data/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/data/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/io/parsers.py:2138: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/data/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/io/parsers.py:2140: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id1</th>
      <th>id2</th>
      <th>id3</th>
      <th>ra</th>
      <th>dec</th>
      <th>z</th>
      <th>s_nvss</th>
      <th>radclas</th>
      <th>s_first</th>
      <th>off_first</th>
      <th>rad_agn</th>
      <th>main_sample</th>
      <th>lerg</th>
      <th>herg</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>266</td>
      <td>51602</td>
      <td>5</td>
      <td>9.784227</td>
      <td>-0.81043</td>
      <td>0.44864</td>
      <td>0.0069</td>
      <td>1</td>
      <td>0.0042</td>
      <td>1.76</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>266</td>
      <td>51602</td>
      <td>26</td>
      <td>9.797071</td>
      <td>-0.34230</td>
      <td>0.13483</td>
      <td>0.0963</td>
      <td>1</td>
      <td>0.1010</td>
      <td>1.26</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>266</td>
      <td>51602</td>
      <td>100</td>
      <td>9.742906</td>
      <td>-0.74164</td>
      <td>0.20389</td>
      <td>0.0068</td>
      <td>1</td>
      <td>0.0025</td>
      <td>0.46</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>266</td>
      <td>51602</td>
      <td>109</td>
      <td>9.782475</td>
      <td>-0.25218</td>
      <td>0.13048</td>
      <td>0.0075</td>
      <td>1</td>
      <td>0.0043</td>
      <td>0.51</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>266</td>
      <td>51602</td>
      <td>134</td>
      <td>9.720425</td>
      <td>-0.54706</td>
      <td>0.36795</td>
      <td>0.0091</td>
      <td>2</td>
      <td>0.0000</td>
      <td>-1.00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
display(df['lerg'].value_counts())

1    9863
0    8423
Name: lerg, dtype: int64

In [13]:
display(df['herg'].value_counts())

0    17805
1      481
Name: herg, dtype: int64