In [2]:
import pandas as pd
from IPython.display import display

In [15]:
def get_heckman_catalog(heckman_loc):
    df = pd.read_table(heckman_loc, sep=r"\s*")
    old_columns = df.columns.values
    new_columns = map(lambda x: x.lower().strip('#'), old_columns)
    df = df.rename(columns=dict(zip(old_columns, new_columns)))
    df = df.rename(
        columns={'main_samp': 'main_sample'})
    assert df[(df['herg']==1) & (df['lerg']==1)].empty
    return df

In [20]:
heckman_loc = 'sdss_dr7_radiosources.cat'
df = get_heckman_catalog(heckman_loc)
display(df.head())
# display(df.describe())

/home/mike/anaconda3/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/home/mike/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/io/parsers.py:2138: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())
/home/mike/anaconda3/envs/py36/lib/python3.6/site-packages/pandas/io/parsers.py:2140: FutureWarning: split() requires a non-empty pattern match.
  yield pat.split(line.strip())

,id1,id2,id3,ra,dec,z,s_nvss,radclas,s_first,off_first,rad_agn,main_sample,lerg,herg
0,266,51602,5,9.784227,-0.81043,0.44864,0.0069,1,0.0042,1.76,1,0,0,0
1,266,51602,26,9.797071,-0.34230,0.13483,0.0963,1,0.1010,1.26,1,1,1,0
2,266,51602,100,9.742906,-0.74164,0.20389,0.0068,1,0.0025,0.46,1,1,1,0
3,266,51602,109,9.782475,-0.25218,0.13048,0.0075,1,0.0043,0.51,1,1,0,0
4,266,51602,134,9.720425,-0.54706,0.36795,0.0091,2,0.0000,-1.00,1,0,0,0

In [21]:
display(df['lerg'].value_counts())

1    9863
0    8423
Name: lerg, dtype: int64

In [22]:
display(df['herg'].value_counts())

0    17805
1      481
Name: herg, dtype: int64

In [28]:
df.to_csv('heckman_radio_sources.csv', index=False)